<!DOCTYPE html>
<html>
<head>
	<title><center>Basic HTML<center></title>
	<link rel="icon" href="img/thewarstocome.jpg">
	<link rel="stylesheet" type="text/css" href="css/calculator.css">
</head>
<body>
	<div id="first">
	Enter first number: 
	<input type="test" id="fn" />
	</div>

	<div id="second">
	Enter second number: 
	<input type="test" id="sn" />
	</div>

	<div>Sum is <span id="answer"></span></div>
	<button onclick="addMe()">Add Me</button>
	<script type="text/javascript" src="js/calculator.js"></script>

	

</body>
</html>